<!DOCTYPE html>
<html>
<%- include('part/header') %>
<body class="container-fluid">

<%- include('part/head-menu') %>

    <form action="/login" method="post">
        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="phoneInput" name="username">
            <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль" name="password">
            <label for="floatingPassword">Пароль</label>
        </div>

        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="/registration">Регистрация</a>
    </form>



<%- include('part/footer') %>

</body>
</html>