<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon">

    <!-- Our project just needs Font Awesome solid + brand -->
    <script defer src="/js/brands.js"></script>
    <script defer src="/js/solid.js"></script>
    <script defer src="/js/fontawesome.js"></script>
</head>